---
const currentPath = Astro.url.pathname;
const basePath = currentPath.startsWith('/team') || currentPath.startsWith('/project') || currentPath.startsWith('/downloads') || currentPath.startsWith('/links')
    ? '../'
    : './';
---

<nav class="navbar">
    <h1>Syndrome Fear</h1>
    <ul class="navbar-menu">
        <li><a href={`${basePath}index.html`} class="navbar-link">Accueil</a></li>
        <li><a href={`${basePath}team/index.html`} class="navbar-link">Ctrl+Alt+Elite</a></li>
        <li><a href={`${basePath}project/index.html`} class="navbar-link">Déroulement du projet</a></li>
        <li><a href={`${basePath}downloads/index.html`} class="navbar-link">Téléchargements</a></li>
        <li><a href={`${basePath}links/index.html`} class="navbar-link">Liens utiles</a></li>
    </ul>
</nav>
